// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    background-color: bisque;
    flex: content;
    text-align: center;
    font-size: 60px;
    
}
p{
    background-color: bisque;
    text-align: center;
}